@media (width<=740px){

    .footer{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1rem;

    }

    .work-time{
        width: inherit;
        display: flex;
        /* background-color: red; */
        margin-top: 30rem;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
        font-size: small;

    }

}